# NLP 파이프라인을 구축하고 성능 평가

## 1. 문제 정의: NLP 파이프라인의 목적과 목표 설정
- 해당 사용자의 텍스트에서 일상다반사 0, 이별(부정) 1, 사랑(긍정) 2의 3가지 레이블을 예측하는 것 
데이터셋 출처: https://github.com/songys/Chatbot_data

## 2. 솔루션 도출: 파이프라인 구성 요소 및 사용 기술 결정
### 1) 데이터 전처리 
- [ ] 데이터 결측치 처리
- [ ] 텍스트 토큰화(형태소 분석, 품사 태깅)
- [ ] 텍스트 임베딩  : tf-idf, BERT 사용해보기
- [ ] 학습 데이터셋 vs validation set 으로 나누기 

### 2) 데이터 전처리 감정 분석 모델
- [ ] 모델 선정
- [ ] 학습 검증
- [ ] 성능 지표 검사
- [ ] 하이퍼 파라미터 튜닝(GridSearchCV)
- [ ] 최종모델 검사

In [26]:
import pandas as pd 
import numpy as np

In [ ]:
def tokenize():

def embedding():
    
def preprocessing():

## 1) 데이터 전처리

In [44]:
#read CSV
csv_path = './Chatbot_data/ChatbotData.csv'
df = pd.read_csv(csv_path)
df.describe()

              label
count  11823.000000
mean       0.803180
std        0.812012
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        2.000000

In [42]:
# 그룹별 레이블 개수 
df.groupby(['label']).count() #일상다반사 0, 이별(부정) 1, 사랑(긍정) 2

          Q     A
label
0      5290  5290
1      3570  3570
2      2963  2963

In [46]:
# 결측치 처리 : 결측값 없음
df.isnull().sum()

Q        0
A        0
label    0
dtype: int64

### 토크나이즈 : 형태소 분석, 품사 태깅 
- koNLPy 이용

In [ ]:
# ! pip install konlpy

In [56]:
from konlpy.tag import Okt 
from konlpy.tag import Kkma #꼬꼬마 형태소 분석기

In [58]:
df[0]

KeyError: 0